.mud-console, #inputLine {
    text-align: left;
    color: lawngreen;
    background-color: black;
    font-family: "courier","monospace";
    font-size: 20;
    font-weight: bold;
}

#inputLine {    
    border: 0px;
    
}
